# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Jupyter Notebook files
*.ipynb
.ipynb_checkpoints/

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Backup files
*_original.md
*_backup.md
